@media (min-width: 1200px) {
  #start-div {
    padding-left: 0;
  }

  #end-div {
    padding-right: 0;
  }
}

@media (max-width: 1200px) {
  #start-div {
    padding-left: 0;
    padding-right: 0;
  }

  #end-div {
    padding-left: 0;
    padding-right: 0;
  }
}

table {
  font-size: 12px;
}

form {
  margin-bottom: 0;
}

#csv {
  float: left;
}

#top {
  float: right;
}

#reset {
  float: right;
  margin-top: 1.4em;
}

#table1 th h4,h5,h6 {
  display: inline-block;
  margin-left: 8%;
  margin-bottom: 5px;
  margin-top: 5px;
}

#table1 th h5,h6 {
  padding: 0.5em;
  background-color: #FFFFFF;
  color: #337ab7;
}

th {
  background-color: #337ab7;
  color: white;
}

td {
  background-color: #f8f8f8;
}

th.excluded {
  background-color: #f8f8f8;
  color: white;
}

td.excluded {
  background-color: white;
  color: #f8f8f8;
}

th.table-hover {
  background-color: #d9edf7;
  color: gray;
}

td.table-hover {
  background-color: white;
  color: lightgray;
}

th[data-col], td[data-col] {
  cursor: pointer;
}